igraph==0.10.3
ipython==7.30.0
ipython-genutils==0.2.0
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.12.1
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
matplotlib==3.4.3
numpy==1.21.4
pandas==1.4.0
python-igraph==0.9.8